<div class="container">
    <form>
        <h1 class="question">{{questions[count].question}}</h1>
        <div class="inputGroup" *ngFor="let answer of questions[count].answers; let i = index">
            <input id="radio{{i}}" name="radio" type="radio" />
            <label for="radio{{i}}">{{answer.text}}</label>
        </div>
    </form>
    <button mat-raised-button class="next" (click)="inc()">
        Avanti <mat-icon>navigate_next</mat-icon>
    </button>
    <button mat-raised-button class="before">
        <mat-icon>navigate_before</mat-icon>Indietro
    </button>
</div>