<div class="container">
    <form [formGroup]="quizForm" (ngSubmit)="submit()" *ngIf="!end">
        <h1 class="question">{{questions[count].question}}</h1>
        <div class="inputGroup" *ngFor="let answer of questions[count].answers; let i = index">
            <input id="radio{{i}}" type="radio" value={{i}} formControlName="answer" />
            <label for="radio{{i}}">{{answer.text}}</label>
        </div>
        <div class="buttons">
            <button [hidden]="count==0" type="button" mat-raised-button class="before" (click)="backward()">
                <mat-icon>navigate_before</mat-icon>Indietro
            </button>
            <button *ngIf="count<4;else end" type="button" mat-raised-button class="next" (click)="forward()"
                [disabled]="quizForm.status === 'INVALID'">
                Avanti <mat-icon>navigate_next</mat-icon>
            </button>
            <ng-template #end>
                <button type="submit" mat-raised-button class="next" [disabled]="quizForm.status === 'INVALID'">
                    Fine <mat-icon>navigate_next</mat-icon>
                </button>
            </ng-template>
        </div>
    </form>
    <div *ngIf="end" class="end">
        <h1>Hai finito il Quiz</h1><br>
        <h3>Hai fatto {{countErrors()}} errori</h3>
        <ul></ul>
    </div>
</div>
